In [3]:
import pandas as pd

df = pd.read_excel('../database/tables/Censo38_corrigido.xlsx')

In [14]:
def create_id(row):
    id_fogo = row['ID Fogo']
    num = row['Número']
    return str(id_fogo) + str(num)

In [18]:
id_column = []
for _, row in df.iterrows():
    row = create_id(row)
    break

1010100011

In [16]:
df.head(1)

,Dia,Mês,Ano,Pasta,Doc,Município,Distrito,Quart,CodTipo,ID Fogo,...,Relação,Sexo,Raça,Condição,Idade,Est civil,Alfab,Nac,Ocup,Nome
0,0,0,38,20,1,Aiuruoca,Cabeceiras do Rio Grande e Vertentes do Rio Preto,1,0.0,101010001,...,0,1,1,1,25,1,0,5,141.0,Francisco Antônio de Carvalho